/* FormStyles.css */

/* Styling for form labels */
.form-label {
    font-weight: bold;
    font-size: 18px;
  }
  
  /* Styling for form inputs */
  .form-control {
    margin-bottom: 10px;
  }
  
  /* Styling for step buttons */
  .step-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  /* Styling for previous button */
  .step-buttons .btn-previous {
    flex: 1;
    margin-right: 5px;
  }
  
  /* Styling for next/submit button */
  .step-buttons .btn-next {
    flex: 1;
    margin-left: 5px;
  }
  .required-field::before { content: "*"; color: red; float: right; }

  